body {
  background: #f0f0f0;
  padding-top: 20px; }

@media (min-width: 992px) {
  .container {
    width: 770px; } }

@media (max-width: 544px) {
  .container > .row > .col-lg-1,
  .container > .row > .col-md-1,
  .container > .row > .col-sm-1,
  .container > .row > .col-xs-1 {
    padding-right: 0;
    padding-left: 0; }
  .container > .row > .col-lg-2,
  .container > .row > .col-md-2,
  .container > .row > .col-sm-2,
  .container > .row > .col-xs-2 {
    padding-right: 0;
    padding-left: 0; }
  .container > .row > .col-lg-3,
  .container > .row > .col-md-3,
  .container > .row > .col-sm-3,
  .container > .row > .col-xs-3 {
    padding-right: 0;
    padding-left: 0; }
  .container > .row > .col-lg-4,
  .container > .row > .col-md-4,
  .container > .row > .col-sm-4,
  .container > .row > .col-xs-4 {
    padding-right: 0;
    padding-left: 0; }
  .container > .row > .col-lg-5,
  .container > .row > .col-md-5,
  .container > .row > .col-sm-5,
  .container > .row > .col-xs-5 {
    padding-right: 0;
    padding-left: 0; }
  .container > .row > .col-lg-6,
  .container > .row > .col-md-6,
  .container > .row > .col-sm-6,
  .container > .row > .col-xs-6 {
    padding-right: 0;
    padding-left: 0; }
  .container > .row > .col-lg-7,
  .container > .row > .col-md-7,
  .container > .row > .col-sm-7,
  .container > .row > .col-xs-7 {
    padding-right: 0;
    padding-left: 0; }
  .container > .row > .col-lg-8,
  .container > .row > .col-md-8,
  .container > .row > .col-sm-8,
  .container > .row > .col-xs-8 {
    padding-right: 0;
    padding-left: 0; }
  .container > .row > .col-lg-9,
  .container > .row > .col-md-9,
  .container > .row > .col-sm-9,
  .container > .row > .col-xs-9 {
    padding-right: 0;
    padding-left: 0; }
  .container > .row > .col-lg-10,
  .container > .row > .col-md-10,
  .container > .row > .col-sm-10,
  .container > .row > .col-xs-10 {
    padding-right: 0;
    padding-left: 0; }
  .container > .row > .col-lg-11,
  .container > .row > .col-md-11,
  .container > .row > .col-sm-11,
  .container > .row > .col-xs-11 {
    padding-right: 0;
    padding-left: 0; }
  .container > .row > .col-lg-12,
  .container > .row > .col-md-12,
  .container > .row > .col-sm-12,
  .container > .row > .col-xs-12 {
    padding-right: 0;
    padding-left: 0; } }

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: #9e9e9e;
  font-size: 14px; }

.emoji {
  height: 24px;
  width: 24px; }

#messageBox {
  background: white;
  margin-bottom: 5px; }
  #messageBox .textarea {
    box-shadow: none;
    max-height: 300px;
    padding-top: 10px; }
    #messageBox .textarea + .input-group-btn {
      padding-top: 4px; }
  #messageBox .input-group-btn {
    vertical-align: top; }
    #messageBox .input-group-btn button:hover {
      color: #646464; }
    #messageBox .input-group-btn button:active {
      color: orange; }
  #messageBox .textarea,
  #messageBox .input-group-btn button {
    border: 0;
    outline: none; }
    #messageBox .textarea:hover, #messageBox .textarea:focus, #messageBox .textarea:active,
    #messageBox .input-group-btn button:hover,
    #messageBox .input-group-btn button:focus,
    #messageBox .input-group-btn button:active {
      background: #fff;
      box-shadow: none;
      outline: none; }

#stickersToggle {
  background: #fff;
  box-shadow: none;
  outline: none;
  padding: 8px; }
  #stickersToggle .icon {
    height: 24px;
    display: table;
    opacity: .5;
    width: 24px; }
    #stickersToggle .icon,
    #stickersToggle .icon > :hover, #stickersToggle .icon:focus, #stickersToggle .icon:active {
      background: url("../img/sticker.png");
      background-size: 48px 24px; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1) {
        #stickersToggle .icon,
        #stickersToggle .icon > :hover, #stickersToggle .icon:focus, #stickersToggle .icon:active {
          background: url("../img/sticker@2x.png");
          background-size: 48px 24px; } }
  #stickersToggle:hover .icon {
    opacity: .7; }
  #stickersToggle.active .icon {
    opacity: .9; }
    #stickersToggle.active .icon, #stickersToggle.active .icon:hover, #stickersToggle.active .icon:focus, #stickersToggle.active .icon:active {
      background-position: 24px 0; }

#stickerPipe {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

#messages {
  height: 420px;
  margin-bottom: 20px;
  overflow: hidden;
  overflow-y: scroll; }
  #messages img[data-sticker] {
    height: 160px;
    width: 160px; }

#store {
  height: 400px; }

.emptyRecent {
  text-align: center;
  padding: 50px;
  font-size: 20px; }

.popover {
  height: 350px;
  width: 320px; }

.has-new-content:after {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  margin-left: 18px;
  margin-top: -24px !important; }
