body {
  background: #f0f0f0;
  padding-top: 20px; }

@media (min-width: 992px) {
  .container {
    width: 770px; } }

#messageBox {
  background: white;
  margin-bottom: 5px; }
  #messageBox textarea {
    box-shadow: none;
    max-height: 300px;
    padding-top: 10px;
    resize: none; }
    #messageBox textarea + .input-group-btn {
      padding-top: 4px; }
  #messageBox .input-group-btn {
    vertical-align: top; }
    #messageBox .input-group-btn button:hover {
      color: #646464; }
    #messageBox .input-group-btn button:active {
      color: orange; }
  #messageBox textarea,
  #messageBox .input-group-btn button {
    border: 0;
    outline: none; }
    #messageBox textarea:hover, #messageBox textarea:focus, #messageBox textarea:active,
    #messageBox .input-group-btn button:hover,
    #messageBox .input-group-btn button:focus,
    #messageBox .input-group-btn button:active {
      background: #fff;
      box-shadow: none;
      outline: none; }

#stickersToggle {
  background: #fff;
  box-shadow: none;
  outline: none;
  padding: 8px; }
  #stickersToggle .icon {
    height: 24px;
    display: table;
    opacity: .5;
    width: 24px; }
    #stickersToggle .icon, #stickersToggle .icon:hover, #stickersToggle .icon:focus, #stickersToggle .icon:active {
      background: url("../img/sticker.png");
      background-size: 48px 24px; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1) {
        #stickersToggle .icon, #stickersToggle .icon:hover, #stickersToggle .icon:focus, #stickersToggle .icon:active {
          background: url("../img/sticker@2x.png");
          background-size: 48px 24px; } }
  #stickersToggle:hover .icon {
    opacity: .7; }
  #stickersToggle.active .icon {
    opacity: .9; }
    #stickersToggle.active .icon, #stickersToggle.active .icon:hover, #stickersToggle.active .icon:focus, #stickersToggle.active .icon:active {
      background-position: 24px 0; }

#stickerPipe {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

#messages {
  height: 420px;
  margin-bottom: 20px;
  overflow: hidden;
  overflow-y: scroll; }
  #messages img[data-sticker] {
    height: 160px;
    width: 160px; }

#store {
  height: 400px; }

.emptyRecent {
  text-align: center;
  padding: 50px;
  font-size: 20px; }

.popover {
  height: 350px;
  width: 320px; }

.has-new-content:after {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  margin-left: 18px;
  margin-top: -24px !important; }
