
body {
	background: rgb(240, 240, 240);
	padding-top: 20px;
}

@media (min-width: 992px) {
	.container {
		width: 770px;
	}
}

#messageBox {
	background: white;
	margin-bottom: 5px;

	textarea {
		box-shadow: none;
		max-height: 300px;
		padding-top: 10px;
		resize: none;

		+ .input-group-btn {
			padding-top: 4px;
		}
	}

	.input-group-btn {
		vertical-align: top;

		button {
			&:hover {
				color: rgb(100, 100, 100);
			}

			&:active {
				color: orange;
			}
		}
	}

	textarea,
	.input-group-btn button {
		border: 0;
		outline: none;

		&:hover,
		&:focus {
			background: #fff;
			outline: none;
			box-shadow: none;
		}
	}
}

#stickersToggle.active {
	&,
	&:hover,
	&:focus {

		color: orange !important;
		background: none;
		box-shadow: none;
	}
}

#stickerPipe {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

#messages {
	height: 420px;
	margin-bottom: 20px;
	overflow: hidden;
	overflow-y: scroll;

	img[data-sticker] {
		$stickerSize: 160px;

		height: $stickerSize;
		width: $stickerSize;
	}
}

#store {
	height: 400px;
}

.emptyRecent {
	text-align: center;
	padding: 50px;
	font-size: 20px;
}