
body {
	background: rgb(240, 240, 240);
	padding-top: 20px;
}

@media (min-width: 992px) {
	.container {
		width: 770px;
	}
}

@media (max-width: 768px) {
	.container > .row {
		@for $i from 1 through 12 {
			> .col-lg-#{$i},
			> .col-md-#{$i},
			> .col-sm-#{$i},
			> .col-xs-#{$i} {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
}

#messageBox {
	background: white;
	margin-bottom: 5px;

	textarea {
		box-shadow: none;
		max-height: 300px;
		padding-top: 10px;
		resize: none;

		+ .input-group-btn {
			padding-top: 4px;
		}
	}

	.input-group-btn {
		vertical-align: top;

		button {
			&:hover {
				color: rgb(100, 100, 100);
			}

			&:active {
				color: orange;
			}
		}
	}

	textarea,
	.input-group-btn button {
		border: 0;
		outline: none;

		&:hover,
		&:focus,
		&:active {
			background: #fff;
			box-shadow: none;
			outline: none;
		}
	}
}

#stickersToggle {
	background: #fff;
	box-shadow: none;
	outline: none;
	padding: 8px;

	.icon {
		height: 24px;
		display: table;
		opacity: .5;
		width: 24px;

		&,
		&:hover,
		&:focus,
		&:active {
			background: url("../img/sticker.png");
			background-size: 48px 24px;

			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1) {
				background: url("../img/sticker@2x.png");
				background-size: 48px 24px;
			}
		}
	}

	&:hover {
		.icon {
			opacity: .7;
		}
	}


	&.active {
		.icon {
			opacity: .9;

			&,
			&:hover,
			&:focus,
			&:active {
				background-position: 24px 0;
			}
		}
	}
}

#stickerPipe {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

#messages {
	height: 420px;
	margin-bottom: 20px;
	overflow: hidden;
	overflow-y: scroll;

	img[data-sticker] {
		$stickerSize: 160px;

		height: $stickerSize;
		width: $stickerSize;
	}
}

#store {
	height: 400px;
}

.emptyRecent {
	text-align: center;
	padding: 50px;
	font-size: 20px;
}

.popover {
	height: 350px;
	width: 320px;
}

.has-new-content:after {
	content: "";
	width: 8px;
	height: 8px;
	display: block;
	position: absolute;
	background-color: red;
	border-radius: 50%;
	margin-left: 18px;
	margin-top: -24px !important;
}